
<div class="page_wrapper">

</div>

<div class="">
    <p> The new Sportsman </p>
    <p> Welcome to your personalised Sports streaming app </p>
</div>

<div class="">
  <p> Please login below, or create a new account </p>
    <div class="">
      <%= link_to "Log in here", login_path %>
    </div>
    <div class="">
      <%= link_to "Create Account", new_user_path %>      
    </div>
</div>
