<div id="home_page">
  <div class="login_page">
      <h1> SportsHub</h1>
      <h2> Welcome to your personalised Sports streaming service </h2>
      <p> Please login below or create a new account </p>
      <div class = "login_links">
        <%= link_to "Log in", login_path %>
        <%= link_to "Create Account", new_user_path %>
      </div>
  </div>
</div>
