
<div class = 'user'>
    <h2>Welcome <%= @user.email %> </h2>
</div>

<div class = 'user_content'>
    <h2> Display Media Content for the User </h2>
</div>


<div class= "user_content_name"></div>
    <% @user.sports.uniq.each do |i| %>
    <%= i.name %>
    <% end %>
</div>


<div class= "user_videos">
    <% @user.you_tubes.each do |i| %>
    <div class= "user_video">
        <iframe src=<%= i.video_url %></iframe>
    </div>
    <% end %>
</div>

