<h2> Hello <%= @user.email %> </h2>

<h2> Display Media Content for the User </h2>

<% @user.sports.uniq.each do |i| %>
<%= i.name %>
<% end %>

<div>
<% @user.you_tubes.each do |i| %>
<iframe src=<%=i.video_url%>></iframe>
<% end %>
</div>
