/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




body{
      background: url("https://images-na.ssl-images-amazon.com/images/I/91iuG5KYjOL._SL1500_.jpg") no-repeat fixed center;
       background-size: 100% 100%;
       font-family: 'Kanit', sans-serif;
 }

 .page_wrapper {
    text-align: center;
    margin-top: 20%;
 }

 .container{
  font-weight: bold;
  color: #fff;
  text-shadow:
  -1px -1px 0 #00f,
  1px -1px 0 #00f,
  -1px 1px 0 #00f,
  1px 1px 0 #00f;
  letter-spacing: 2px;

}

.login:hover
{
    color: #fff;
    text-shadow:
    -1px -1px 0 #00f,
    1px -1px 0 #00f,
    -1px 1px 0 #00f,
    1px 1px 0 #00f;
}
 .user {
     color: blue,
     font-size
 }

 .user_videos {
    display: flex;
    justify-content: space-between;
    flex-direction: flex-wrap;
 }

 .user_video {
    flex-direction: flex-wrap;
    width: 50%;
    height: 50%;
    padding: 10px;
 }
