/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




body {
      background: url("https://images-na.ssl-images-amazon.com/images/I/91iuG5KYjOL._SL1500_.jpg") no-repeat fixed center;
       background-size: 100% 100%;
       font-family: 'Kanit', sans-serif;
 }

 .page_wrapper {
    text-align: center;
    margin-top: 20%;
 }

 .container {
  font-weight: bold;
  color: #fff;
  text-shadow:
  -1px -1px 0 #00f,
  1px -1px 0 #00f,
  -1px 1px 0 #00f,
  1px 1px 0 #00f;
  letter-spacing: 2px;

}

.login:hover
{
    color: #fff;
    text-shadow:
    -1px -1px 0 #00f,
    1px -1px 0 #00f,
    -1px 1px 0 #00f,
    1px 1px 0 #00f;
}
 .user h2 {
     color: #fff;
     font-size: 3rem;
     font-weight: 400;
     text-align: center;
     padding-top: 3rem;
 }

 .user_content {
   color: #fff;
   text-align: center;
 }

 .user_content_name {
   display: flex;
   justify-content: space-evenly;
   font-size: 1.5rem;
   padding-top: 1rem;
   text-align: center;
   color: #fff;

 }

 .user_videos {
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
 }

 .user_video {
    flex-direction: flex-wrap;
    justify-content: center;
    padding: 2rem;
 }

 .user_video iframe {
    height: 25vh;
    width: 25vw;
    transition: transform .3s;
    border-radius: 5px;
      &:hover {
      transform: translateY(-1.2rem) scale(1.01);
      }
   box-shadow: 0 1.5rem 4rem;
 }

   
